body {
    background-color: lightgray;
    color: darkgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

.challenge-friend {
    cursor: pointer;
}

a {
    color: darkslategray;
    padding: 10px 10px 10px 10px;
}

/*
li {
    padding: 12px 12px 12px 12px;
}*/
