<template name="ApplicationLayout">

    <head>
        <title>Chatroom</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <h1>Chatroom!</h1>
        <nav role="navigation">
            <div class="nav-wrapper container">
                
                <a href="/" id="logo-container" class="brand-logo"></a>

                <a href="">Private Messaging</a>
                <a href="">Start a Chat Room</a>
                <a href="">Join a Room</a>
                <a href=""><i class="material-icons left">search</i>Find Friends</a>
<!--                <a href="">Sign In</a> {{> hello}} {{> info}}-->
                <li>{{> loginButtons align=right}}</li>

            </div>
        </nav>


        {{> yield}}
    </body>
</template>

<template name="hello">
    <form class="name-form">
        <input type="text" name="firstname">
        <input type="submit">
    </form>
    <ul>
        {{#each posts}}
        <br />
        <li>{{name}}</li>
        {{/each}}
    </ul>
</template>


<template name="info">
    <h2></h2>
    <br />
    <ul>
        <li>
            <a>nothing</a>
        </li>
        <li>
            <a>not something</a>
        </li>
        <li>
            <a>why are you clicking this</a>
        </li>
        <li>
            <a>dont you know this is useless template</a>
        </li>
    </ul>
</template>